## Settings file was created by plugin FairGiantsHostOnly v1.3.0
## Plugin GUID: com.woah25.FairGiantsSS

[Behavior]

## Enable random wandering for giants
# Setting type: Boolean
# Default value: true
RandomWander = true

## Enable enhanced anti-camping behavior
# Setting type: Boolean
# Default value: true
EnhancedAntiCamp = true

[Movement]

## Multiplier for giant's movement speed
# Setting type: Single
# Default value: 0.7
# Acceptable value range: From 0.1 to 2
GiantSpeedMultiplier = 0.7

[Stealth]

## Rate of passive stealth decay
# Setting type: Single
# Default value: 0.2
# Acceptable value range: From 0 to 1
PassiveStealthDecay = 0.2

## When stealth decay should be applied
# Setting type: PatchApplyLevel
# Default value: Always
# Acceptable values: Always, Solo, Never
StealthDecaysWhen = Always

